# PostgreSQL credentials for the Docker database container
# These values are used by Docker Compose to create the database
# USERNAME and PASSWORD can be anything you choose
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=budgetapp
